@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto+Mono:wght@200&display=swap');

html,
body {

    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.row {
    margin: 8px 0;
}

.row input {
  
    width: 283px;
    font-size: 18px;
    margin: 0;
    padding: 10 0px;
    border: 2px solid black;
    border-radius: 5px;
}